/*
!/DashTemplates
/DashTemplates/*
!/DashTemplates/LP-Racing
/DashTemplates/LP-Racing/_Backups
!/JavascriptExtensions
/JavascriptExtensions/*
!/JavascriptExtensions/LP-Racing*
!.gitignore
!LICENSE
!README.md